extends ../layouts/default

block content
	.page-header
		h1 Dataset

	.row
		
		- var datu = datasets.results[0].sensortype.length // get how many sensor in dataset
		- var satu = datasets.results[0].data // get one record of data object
		//- h4= datu
		//- h4= satu

		- for (var cc = 1; cc <= datu; cc++)
			//- h4= cc
			.col-sm-6
				.box.box-solid
					.box.box-info
						.box-header
							h3.box-title Line Chart
							.box-tools.pull-right
								button.btn.btn-default.btn-sm(data-widget='collapse')
									i.fa.fa-minus
								button.btn.btn-default.btn-sm(data-widget='remove')
									i.fa.fa-times
					.box-body
							<div id="#{cc}_container"></div>

block js			

	script.
		// now we will get property of each data
		var obj = !{JSON.stringify(datasets)}; // ini bentuknya objek
		var objData = obj.results[0]; // untuk ambil item dalam array harus dalam bentuk objek, hasil results objek
		var proper = objData.data;
		
		var count = 1
		for (var property in proper) { //looping every property
			console.log(count);
			console.log(property);
			var xValues = [];
			var yValues = [];

			for (var i in obj.results){
				var obj2 = obj.results[i]; // untuk ambil item dalam array harus dalam bentuk objek, hasil results objek
				var timee = obj2.created_at
				var fTimee = moment(timee).format('h:mm:ss a');
				var obj3 = obj2.data[property];

				console.log(fTimee);
				console.log(obj3);

				xValues.push(fTimee)
				yValues.push(obj3);
				
			}
			var label = property;
			var sublabel = objData.device
			render = count+"_container"
			console.log(render);
			console.log(yValues);

			
			Highcharts.chart(render, {

				chart: {
					type: 'spline'
				},

			    title: {
			        text: label
			    },

			    subtitle: {
			        text: sublabel
			    },

				xAxis: {
					type: 'datetime',
					categories: xValues
				},

			    yAxis: {
			        title: {
			            text: 'Sensor Value'
			        }
			    },
			    legend: {
			        layout: 'vertical',
			        align: 'right',
			        verticalAlign: 'middle'
			        
			    },
				credits: {
					enabled: false
				},

			    series: [{
			        name: label,
			        data: yValues

			    }]

			});
			count = count + 1
		}
