mixin sensornode(sensornode)
	article(data-ks-editable=editable(user, { list: 'SensorNode', id: sensornode.id })).media
		.media-left
			a(href='/data/' + sensornode.id)

				img(src="http://placehold.it/120x120").media-object
		.media-body

			.small-box.bg-purple
					.inner
						h4
							= sensornode.name
						p
							= sensornode._.created_at.format('MMMM Do, YYYY')
					.icon
						i.ion.ion-bag
					a.small-box-footer(href='/data/' + sensornode.id)
						| More info
						i.fa.fa-arrow-circle-right

