mixin sensornode(sensornode)
	article(data-ks-editable=editable(user, { list: 'SensorNode', id: sensornode.id })).media
		.media-left
			a(href='/blog/sensornode/' + sensornode.key)

				img(src="http://placehold.it/80x80").media-object
		.media-body
			h3.media-heading
				a(href='/blog/sensornode/' + sensornode.key)= sensornode.name
			if sensornode.created_at
				p.text-muted.text-small
					if sensornode.created_at
						time= sensornode._.created_at.format('MMMM Do, YYYY')

